.App{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

nav {
  display: block;
  text-align: center;
  position:fixed;
  top: 0;
  width: 100%;
  background: rgb(255, 255, 255);
}

nav ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
  display: flex;
  padding :10px;
}

.sidebar-nav{
  position: fixed;
  height: 100vh;
  width: 100vw;
  right: -150%;
  background: #000000;
  transition: all 0.25s;
}

.sidebar-nav-open{
  position: fixed;
  margin-left: 100px;
  height: 100vh;
  width: 100vw;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  
  transform: translateX(0%);
  transition: all 1s;
  
}

.sidebar-ul{
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  color: #d1d1d1;
}
.amritha {
  padding-top: 17px;
  padding-left: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  text-align: center;
  letter-spacing: 0.1em;
}

.amrithaINNER{
  padding-top: 17px;
  padding-left: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  text-align: center;
  letter-spacing: 0.1em;
  }

.right{
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 15px;
  height: 20px;
  transition: 0.125s;
}



.right:hover{
  cursor: pointer;
  background-color: #ECECEC;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.hovershit:hover{
  cursor: pointer;
}

.logo{
  flex-grow: 1;
  padding-left: 50px;
  padding-top: 10px;
}

.Home {
  display: flex;
  padding-top: 100px;
  background-color: #ECECEC;
}

.hamburger-lines {
  height: 30px;
  width: 32px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.hamburger-lines .line {
  display: block;
  margin-top: 3px;
  height: 5px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.BlogPost {
  display: flex;
  padding-top: 82px;
  background-color: #ECECEC;
}

.blogpostleft {
  display: flex;
  align-items: left;
  flex-direction: column;
  background-color: #ffffff;
}

.blogpostright {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  background-color: #ECECEC;
  
}

.header{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #000000;
}

.addblogheading{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: #000000;
}

.addblogtitle{
  width: 565px;
  height: 40px;
  background: #F2F2F2;
  border:none;
  border-radius: 10px;
  outline: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: #000000;
  padding-left: 30px;
  
}
.AttachFile {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */
  height: 45px;
  letter-spacing: 0.1em;
  color: #000000;
  
}
.SubmitButton {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  letter-spacing: 0.1em;
  color: #000000;
  margin-top: 30px;

}

.SubmitButton:hover{
  cursor: pointer;
  background: #d1d1d1;
}

.addblogcontent{
  min-width: 990px;
  max-width: 990px;
  min-height: 300px;
  background: #F2F2F2;
  border:none;
  border-radius: 10px;
  outline: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: #000000;
  padding-left: 30px;
  padding-top: 10px;

}

.createnewblog{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 321px;
  height: 61px;
  background: #F8F8F8;
  border-radius: 29.5px;
  margin-bottom: 50px;
}

.createnewblogtext{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.headerright {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 162.9%;
  /* or 33px */
  text-align: center;
  color: #000000;
}

.sidebyside {
  flex-direction: row;
  display: flex;
  padding-bottom: 150px;
  padding-top: 150px;
}

.Home2 {
  display: flex;
  padding-top: 50px;
}

.home2left {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #ECECEC;
  margin: 77px;
  margin-right: 21px;
}

.home2right {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #ECECEC;
  margin: 77px;
  margin-left: 21px;
}

.homeunderleft{
  margin-left: 200px;
}

.homeunderright{
  margin-right: 200px;
  margin-top: 100px;
}

.buttonstuff{
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  background: #ECECEC;
  border-radius: 29.5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.24em;
  color: #000000;
  padding: 20px;
  width: 180px;
}

.buttonstuff:hover{
  cursor: pointer;
  background: #d1d1d1;
}

.Footer{
  display: flex;
  background: #ECECEC;
  height: 70px;
  align-items: center;
  padding: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.1em;
  justify-content: space-between;
  color: #000000;

}

.NotFound {
  display: flex;
  padding-top: 100px;
  background-color: #ffffff;
}
.MainText404 {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 78px;

  color: #000000;
  justify-content: center;
  align-items: left;
}
.Woops {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;

  color: #000000;
  margin-top: 30px;

}
.BackHome {
  background: #ECECEC;
  border-radius: 29.5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: 0.1em;
  color: #000000;
  width: 200px;
  text-align: center;
  padding: 13px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 30px;
}
.BackHome:hover {
  cursor: pointer;
  cursor: pointer;
  background: #d1d1d1;
}

.Image404 {
  display: flex;
  padding-bottom: 100px;
  justify-content: right;
}

.Blog {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  background-color: #ECECEC;
}

.BlogHeader{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  margin-top: 40px;
  margin-left: 80px;
  color: #000000;

}
.blogPostHeadding {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 59px;

  color: #000000;

}
.authorHeader {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: #000000;

}

.BlogContent{
  
  display: flex;
  flex-direction: row;

}

.BlogContentinside{
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;

}

.RecentBlogs{
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
  
}

.BlogRecentHeader{
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #000000;

}

.BlogRecentHeaderMain{
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
  margin-left: 80px;

}
.ContactUsInfo {
  display: flex;
  padding-top: 100px;
}
.Info {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.1em;

  color: #FFFFFF;
  padding-top: 40px;
}
.InfoInfo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 59px;
  text-align: left;
  color: #FFFFFF;
}
.InfoImg {
  width: 25px;
  padding-right: 50px;
 
}
.contactUsDiv {
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
  padding-left: 130px;
  
}
.contactUs {
  padding-top: 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 59px;

  color: #000000;
}
.contactUsEle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.35em;
  color: #000000;
  margin-top: 60px;
  padding-bottom: 10px;
  margin-right: 180px;
  padding-left: 7px;
  border: none;
}

.Contributors{
  
  display: flex;
  flex-direction: column;
  align-items: left;
  background: #E4E4E4;
  margin-top: 20px;
  margin-right: 25px;
  margin-left: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  padding : 40px;
}

.blogSection1{
  flex-basis : 30%;
  border-right: 2px solid #4d4d4d;
  

}

.blogSection2{
  flex-basis : 40%;
  border-right: 2px solid #4d4d4d;

}

.blogSection3{
  flex-basis : 30%;

}

img {  
  max-width: 100%;  
  height: auto;  
}  

.blogResponsive {
  display: flex;
  /* align-items: center; */
  background-color: #ECECEC;
  flex: 1 1;
}

.blogpostrightTopText{
  margin-top: 250px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
}


.LoginMain{
  margin-top: 100px;
  display: flex;
}

.LoginLeft{
  flex-basis: 60%;
  display: flex;
  background: #0A0C70;
  width: 500px;
  margin-left: 65px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  align-items: left;
  flex-direction: column;
  padding-left: 70px;
  padding-bottom: 40px;

}

.LoginForm{
  margin-top: 50px;
  background: #0A0C70;
}

.LoginRight{
  flex-basis: 40%;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
}

.LoginLeft h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 59px;
  text-align: left;
  padding: 30px;
  color: #FFFFFF;
}
.FormField2 {
  flex: 1 1 50%;
  font-family: 'Montserrat';
  height: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.35em;
  margin-left: 40px;
  padding-left: 5px;
  padding-bottom: 10px;
  border: none;
  color: #FFFFFF;
}

.FormField{
  font-family: 'Montserrat';
  height: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.35em;
  margin-left: 40px;
  margin-right: 150px;
  padding-left: 5px;
  padding-bottom: 10px;
  border: none;
  color: #FFFFFF;
}

.buttonstuffLogin{
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  background: #ECECEC;
  border-radius: 29.5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.24em;
  color: #000000;
  padding: 20px;
  width: 180px;
}
.buttonstuffSend{
  border-radius: 20px;
  margin-left: 100px;
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
  background: #ECECEC;
  border-radius: 29.5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.24em;
  color: #000000;
  padding: 20px;
  width: 180px;
}
.buttonstuffSend:hover{
  cursor: pointer;
  background: #d1d1d1;
}
input.contactUsEle::-webkit-input-placeholder {
  color: black;
}
input.FormField::-webkit-input-placeholder {
  color: black;
}
input.FormField2::-webkit-input-placeholder {
  color: black;
}
input.addblogtitle::-webkit-input-placeholder {
  color: black;
}
textarea.addblogcontent::-webkit-input-placeholder {
  color: black;
}
.amrithaLogin {
  padding-top: 17px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  color: #000000;
  text-align: center;
  letter-spacing: 0.1em;
}

.amrithaINNERLogin{
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: #000000;
  text-align: center;
  letter-spacing: 0.1em;
}

.buttonstuffLogin:hover{
  cursor: pointer;
  background: #d1d1d1;
}

input[type="email"]
{
    background: transparent;
    border: none;
    outline: none;
}


input[type="password"]
{
    background: transparent;
    border: none;
    border-bottom: #ffffff;
    outline: none;
}

@media only screen and (max-width: 1405px) {
  .BlogRecentHeader{
    font-size: 30px;
    line-height: 50px;
  
  }
  .Contributors{
    padding : 30px;
  }
}

@media only screen and (max-width: 1000px) {

  

  .BlogRecentHeader{
    
    font-size: 38px;
    line-height: 55px;
  
  }
  .RecentBlogs{
    font-size: 15px;
    line-height: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-left: 60px;
  }

  .BlogHeader{
    
    font-size: 55px;
    line-height: 55px;
    margin-top: 40px;
    margin-left: 60px;
  
  }

  .BlogRecentHeaderMain{
    font-size: 40px;
    line-height: 60px;
    margin-left: 60px;
  }
  
  .blogSection1{
    flex-basis : 40%;
    border-right: 2px solid #4d4d4d;
  
  }
  
  .blogSection2{
    flex-basis : 60%;
    border-right: 0px solid #4d4d4d;
  
  }
  .blogSection3{
    display: none;
  
  }
  

}

@media only screen and (max-width: 991px) {

  .homeunderleft{
    margin-left: 50px;
  }
  
  .blogpostrightTopText{
    margin-top: 50px;
  }

  .homeunderright{
    margin-right: 50px;
    margin-top: 100px;
  }

  .home2left {
    margin: 25px;
    margin-right: 12.5px;
  }

  .home2right {
    margin: 25px;
    margin-left: 12.5px;
  }

  .amritha{
    padding-left: 10px;
    font-size: 16px;
  }

  .logo{
    padding-left: 20px;
    padding-top: 10px;
  }

  .amrithaINNER{
    font-size: 16px;
  }

  .right {
    font-size: 14px;
  }
  
}

.hammenu{
  display: none;
}

.swapfalse{
  display: none;
}

@media only screen and (max-width: 835px) {
  .right {
    display: none;
  }
  .hammenu{
    display:block;
    cursor: pointer;
  }
  .homeunderleft{
    margin: 50px;
  }
  
  .blogpostrightTopText{
    margin-top: 30px;
  }

  .homeunderright{
    margin: 50px;
    margin-top: 50px;
  }
  .blogSection1{
    display: none;
  
  }
  
  .blogSection2{
    flex-basis : 100%;
    border-right: 0px solid #4d4d4d;
  
  }
  .BlogHeader{
    

    font-size: 40px;
    line-height: 50px;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
    
  
  }
  .RecentBlogs{
    
    margin-left: 30px;
  }
  .BlogRecentHeader{
    font-size: 30px;
    line-height: 45px;
    
  
  }
}

@media only screen and (max-width: 700px) {

  .blogpostrightTopText{
    margin-bottom: 50px;
  }


  .BlogPost {
    display: flex;
    flex-direction: column;
    padding-top: 82px;
    background-color: #ECECEC;
  }

  .blogpostright {
    display: flex;
    align-items: center;
    background-color: #ECECEC;
  }

  .blogResponsive {
    display: flex;
    flex-direction: column;
  }

  .swapfalse{
    margin-left: 50px;
    display: block;
  }

  .swaptrue{
    display: none;
  }
  
  .homeunderleft{
    margin: 70px;
  }
  
  .homeunderright{
    margin: 70px;
    margin-top: 50px;
  }

  .home2left {
    margin: 25px;
  }

  .home2right {
    margin: 25px;
  }

  .amritha{
    font-size: 15px;
  }

  .amrithaINNER{
    font-size: 15px;
  }

  .sidebyside {
    display: block;
    align-items: center;
    flex-direction: row;
  }

  .picturesBlogs{
    width: auto;
  }
  
  .Footer{
    display: block;
    font-size: 13px;
  }
}


