
.spacer{
  margin-bottom: 50px;
}
.hero1{
  display: flex;
  flex-direction: column;
}

h1{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 59px;
  text-align: center;

  color: #000000;
  display: block;
  margin-top: 106px;
  margin-bottom: 46px;
  text-align: center;
}

.service-nav-container {
  border-radius: 30px;
  background: #ECECEC;
  height: 52px;
  margin-left: 350px;
  margin-right: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
  width: 880px;
}

.service-nav-ele{
  font-size: 17px;
  
  align-items: center;
  font-weight: bold;
  font-family: montserrat;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.35s;
  height: 40px;
  width: 200px;
  background-color: #ECECEC;
}
.service-nav-ele:hover {
  height: 43px;
  width: 200px;
  border-radius: 20px;
  background-color: #f3f3f3; 
}
.sevice-nav-ele-mod {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 81px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  height: 43px;
  width: 200px;
  background: rgb(255, 255, 255);
  color:#0A0C70 ;
  align-items: center;
  font-weight: bold;
  font-family: montserrat;
  border: none;
  cursor: pointer;
  transition: 0.25s;
  /* padding-left: 0px; */
}

.service-nav-content-container-mod{
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-x: auto;
  margin: 0px 50px ;
}


.service-nav-content-container{
  display: none;
}
.service-nav-container-container{
  background: #0A0C70;
  height: 250px;
  width: 300px; 
  border-radius: 20px;
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-right: 5px;
}
.service-nav-content-container-courses{
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-x: auto;
  margin: 0px 50px ;
}
.service-nav-container-container-courses{
  background: #0A0C70;
  height: 250px;
  width: 260px; 
  border-radius: 20px;
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-right: 5px;
}
.service-nav-content-container-consulting{
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-x: auto;
  margin: 0px 50px ;
}
.service-nav-container-container-consulting{
  background: #0A0C70;
  height: 250px;
  width: 260px; 
  border-radius: 20px;
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-right: 5px;
}
.list{
  font-family: montserrat;
  color: white;
  font-weight: bold;
  }

 
  @media only screen and (max-width: 945px){
    .service-nav-container{
      /* margin:0px auto; */
      border-radius: 30px;
      background: #ECECEC;
      height: 40px;
      margin-left: 150px;
      margin-right: 150px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 60px;
    }
    .service-nav-content-container-courses{
      display: flex;
      justify-content: center;
      flex-direction: row;
      overflow-x: auto;
      margin: 0px 50px ;
    }
    .service-nav-container-container-courses{
      background: #0A0C70;
      height: 250px;
      width: 260px; 
      border-radius: 20px;
      display: flex;
      flex-direction: columns;
      justify-content: center;
      align-items: center;
      padding: 25px;
      margin-right: 5px;
    }
    .service-nav-content-container-consulting{
      display: flex;
      justify-content: center;
      flex-direction: row;
      overflow-x: auto;
      margin: 0px 50px ;
    }
    .service-nav-container-container-consulting{
      background: #0A0C70;
      height: 250px;
      width: 260px; 
      border-radius: 20px;
      display: flex;
      flex-direction: columns;
      justify-content: center;
      align-items: center;
      padding: 25px;
      margin-right: 5px;
    }
  }

  @media only screen and (max-width: 711px){
    .service-nav-container{
      /* margin:0px auto; */
      border-radius: 30px;
      background: #ECECEC;
      height: 40px;
      margin-left: 40px;
      margin-right: 40px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 60px;
    }
    .service-nav-content-container-courses{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .service-nav-container-container-courses{
      background: #0A0C70;
      height: 250px;
      width: 260px; 
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px;
      margin: 10px 0px;
    }
    .service-nav-content-container-consulting{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .service-nav-container-container-consulting{
      background: #0A0C70;
      height: 250px;
      width: 260px; 
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px;
      margin: 10px 0px;
    }
    
  }

  @media only screen and (max-width: 480px){
    .service-nav-container{
      /* margin:0px auto; */
      border-radius: 30px;
      background: #ECECEC;
      height: 40px;
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 60px;
    }
    .service-nav-content-container-courses{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .service-nav-container-container-courses{
      background: #0A0C70;
      height: 250px;
      width: 260px; 
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px;
      margin: 10px 0px;
    }
    .service-nav-content-container-consulting{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .service-nav-container-container-consulting{
      background: #0A0C70;
      height: 250px;
      width: 260px; 
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px;
      margin: 10px 0px;
    }
  }

  