
.spacer{
  margin-bottom: 50px;
}
.hero{
  display: flex;
  flex-direction: column;
}

h1{
  display: block;
  margin-top: 106px;
  margin-bottom: 46px;
  text-align: center;
}

.service-nav-container{
  /* margin:0px auto; */
  border-radius: 30px;
  background: #ECECEC;
  height: 40px;
  margin-left: 250px;
  margin-right: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
}

.service-nav-ele{
  align-items: center;
  font-weight: bold;
  font-family: montserrat;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.35s;
}
.sevice-nav-ele-mod{
  height: 40px;
  width: 140px;
  background: rgb(184, 182, 182);
  box-shadow: 5 5 5 black;
  color:#0A0C70 ;
  border-radius: 20px;
  align-items: center;
  font-weight: bold;
  font-family: montserrat;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.25s;
}

.service-nav-content-container-mod{
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-x: auto;
  margin: 0px 50px ;
}


.service-nav-content-container{
  display: none;
}
.service-nav-container-container{
  background: #0A0C70;
  height: 250px;
   width: 300px; 
  border-radius: 20px;
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-right: 5px;
}
.service-nav-content-container-courses{
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-x: auto;
  margin: 0px 50px ;
}
.service-nav-container-container-courses{
  background: #0A0C70;
  height: 250px;
  width: 260px; 
  border-radius: 20px;
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-right: 5px;
}
.service-nav-content-container-consulting{
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-x: auto;
  margin: 0px 50px ;
}
.service-nav-container-container-consulting{
  background: #0A0C70;
  height: 250px;
  width: 260px; 
  border-radius: 20px;
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-right: 5px;
}
.list{
  font-family: montserrat;
  color: wheat;
  font-weight: bold;
  }

 
  @media only screen and (max-width: 945px){
    .service-nav-container{
      /* margin:0px auto; */
      border-radius: 30px;
      background: #ECECEC;
      height: 40px;
      margin-left: 150px;
      margin-right: 150px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 60px;
    }
    .service-nav-content-container-courses{
      display: flex;
      justify-content: center;
      flex-direction: row;
      overflow-x: auto;
      margin: 0px 50px ;
    }
    .service-nav-container-container-courses{
      background: #0A0C70;
      height: 250px;
      width: 260px; 
      border-radius: 20px;
      display: flex;
      flex-direction: columns;
      justify-content: center;
      align-items: center;
      padding: 25px;
      margin-right: 5px;
    }
    .service-nav-content-container-consulting{
      display: flex;
      justify-content: center;
      flex-direction: row;
      overflow-x: auto;
      margin: 0px 50px ;
    }
    .service-nav-container-container-consulting{
      background: #0A0C70;
      height: 250px;
      width: 260px; 
      border-radius: 20px;
      display: flex;
      flex-direction: columns;
      justify-content: center;
      align-items: center;
      padding: 25px;
      margin-right: 5px;
    }
  }

  @media only screen and (max-width: 711px){
    .service-nav-container{
      /* margin:0px auto; */
      border-radius: 30px;
      background: #ECECEC;
      height: 40px;
      margin-left: 40px;
      margin-right: 40px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 60px;
    }
    .service-nav-content-container-courses{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .service-nav-container-container-courses{
      background: #0A0C70;
      height: 250px;
      width: 260px; 
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px;
      margin: 10px 0px;
    }
    .service-nav-content-container-consulting{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .service-nav-container-container-consulting{
      background: #0A0C70;
      height: 250px;
      width: 260px; 
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px;
      margin: 10px 0px;
    }
    
  }

  @media only screen and (max-width: 480px){
    .service-nav-container{
      /* margin:0px auto; */
      border-radius: 30px;
      background: #ECECEC;
      height: 40px;
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 60px;
    }
    .service-nav-content-container-courses{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .service-nav-container-container-courses{
      background: #0A0C70;
      height: 250px;
      width: 260px; 
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px;
      margin: 10px 0px;
    }
    .service-nav-content-container-consulting{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .service-nav-container-container-consulting{
      background: #0A0C70;
      height: 250px;
      width: 260px; 
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px;
      margin: 10px 0px;
    }
  }

  